.ac-color {
  background-color: #cdf7cd;
}

.wa-color {
  background-color: #f7cdcd;
}

.read-color {
  background-color: #d4e2ff;
}

/* this fixes a UI error in Text Field caused by bootstrap styling */
fieldset legend {
  width: unset;
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #165DC0;
}