.ac-color {
  background-color: #cdf7cd;
}

.wa-color {
  background-color: #f7cdcd;
}

.read-color {
  background-color: #d4e2ff;
}

/* this fixes a UI error in Text Field caused by bootstrap styling */
fieldset legend {
  width: unset;
}